<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>

<h1>User Profile</h1>
        
<p>Bonjour <%= current_user %> </p>
            
	<p>
	<a href="/applications/new"> Create an application</a>
	</p>

	<% if !@applications.empty?	%>

		<div class="applicationsListCreated">

			<p> Below the applications list you created : </p>
	
			<ul>
				<% @applications.each do |appli| %>
        	<li><%=appli.name%> : <%=appli.url%> - <a href="/applications/delete/<%=appli.name%>" method="delete">Delete</a> </li>
        <% end %>
			</ul>

		</div>

	<% else %>

		<p> You don't have any applications. </p>

	<% end %>


	<% if !@utilizations.empty? %>

		<div class="utilizationsList">

			<p> Below the list of all the applications that you have used : </p>

			<ul>
				<% @utilizations.each do |util| 
						appli = Application.find_by_id(util.application_id) %>
					<li><%=appli.name%> : <%=appli.url%>
				<% end %>
			</ul>

	<% else %>

		<p> You have not used any applications yet. </p>
	
	<% end %>


	<p>
	<a href="/sessions/disconnect"> Disconnect </a>
	</p>


</body>
</html>
