<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>

<h1>User Profile</h1>
        
        <% if @user.nil? %>
          <p>Bonjour, Veuillez vous connecter </p>
          <a href="/session/new"> Connection </a>
          <p>Pas encore inscrit? </p>
          <a href="/users/new"> Inscription </a>
        <% else %>
          
<p>Bonjour <%= current_user %> </p>
            
          <p></p>
          <a href="/applications/new"> Inscrire une application </a>
          <p></p>
          <a href="/sessions/disconnect"> Deco </a>

          <% u = User.find_by_login(@user)
             uid = u.id
             apps = Application.where(:user_id => uid)

            if !apps.empty?
          %>
 
           <div class="listappown">
             <p>List de vos applications</p>
             
            <ul>
              <% apps.each do |a| %>
                <li><%=a.name%> : <%=a.url%> - <a href="/application/delete/<%=a.name%>" method="delete">effacer</a> </li>
              <% end %>
            </ul>
            </div>

            <%else%>
              <p>Vous n'avez créé aucune application.</p>
            <%end%>

            <% utils = Utilisation.where(:user_id => uid)
              if !utils.empty?
            %>
            <div class="listappuse">
            <p>Listes des application que vous pouvez utiliser</p>
              <ul>
                <% utils.each do |util| %>
                  <% app = Application.find_by_id(util.application_id) %>
                  <li><%=app.name%> : <%=app.url%></li>
                <% end %>
              </ul>
            </div>

           <%else%>
             <p>Vous n'utilisez aucune application</p>
           <%end%>
        <% end %>

</body>
</html>
